<textarea class="col form-control-plaintext border rounded-2 ms-2 float-start"
    id="id_descripcion_compromiso_unidad_ejecutora_{{ indice }}"
    name="descripcion_compromiso_unidad_ejecutora"
    required readonly
>{{ descripcion_compromiso_unidad_ejecutora }}</textarea>
<textarea class="form-control-plaintext"
    id="id_borrado_descripcion_compromiso_unidad_ejecutora_{{ indice }}"
    name="borrado_descripcion_compromiso_unidad_ejecutora_{{ indice }}"
    readonly
>{{ descripcion_compromiso_unidad_ejecutora }}</textarea>