{% extends "base_cuentas.html" %}

{% load cui %}

{% block titulo %}Firmar Orden de Servicio{% endblock %}

{% block contenido %}
<ol class="breadcrumb m-2">
    <li class="breadcrumb-item">
        <a href="{% url 'cuentas:perfil' %}">
            Perfiles
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'cuentas:responsable_tecnico' %}">
            Responsable Técnico
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'firmas:lista_ordenes_responsable' %}">
            Órdenes
        </a>
    </li>
    <li class="breadcrumb-item active">{{ orden }}</li>
    <li class="breadcrumb-item" aria-current="page">Firmar Orden</li>
</ol>
<h2 class="text-center">Firmar Orden de Servicio</h2>
{% comment %}
<iframe width="560" height="315"
    src="https://www.youtube.com/embed/ac8lfH4uhxg"
    title="Exportación firma digital en Firefox" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
></iframe>
<iframe width="560" height="315"
    src="https://www.youtube.com/embed/Zy0zcM2YJ8s"
    title="Exportación firma digital en Chromium" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
></iframe>
{% endcomment %}
<form enctype="multipart/form-data" method="post" id="formulario">
    {% csrf_token %}
    <table class="mx-auto container">
        <tr class="row justify-content-start w-100 mt-2">
            <td class="col text-start">
                <p class="form-text ms-4 mb-0">
                    Seleccione el archivo que corresponde al certificado
                    digital.
                </p>
            </td>
        </tr>
        <tr class="row mw-100 justify-content-start">
            <td class="col-auto my-2">
                <div class="form-floating">
                    <input type="file" class="form-control my-auto"
                        id="{{ form.archivo_firma.id_for_label }}"
                        name="{{ form.archivo_firma.html_name }}"
                        accept="application/x-pkcs12"
                        required
                    >
                    <label for="{{ form.archivo_firma.id_for_label }}">
                        Firma digital (.p12, .pfx)
                    </label>
                </div>
            </td>
        </tr>
        <tr class="row justify-content-start w-100 mt-2">
            <td class="col text-start">
                <p class="form-text ms-4 mb-0">
                    Ingrese la contraseña del certificado digital.
                    Recuerde que esta contraseña puede variar de
                    la que se halle en el tóken USB.
                </p>
            </td>
        </tr>
        <tr class="row mw-100 justify-content-start">
            <td class="col-auto my-2" id="responsables">
                <div class="form-floating">
                    <input class="form-control" type="password"
                        id="{{ form.contrasenia_firma.id_for_label }}"
                        name="{{ form.contrasenia_firma.html_name }}"
                        placeholder="contrasenia"
                    >
                    <label for="{{ form.contrasenia_firma.id_for_label }}">
                        Contraseña de firma
                    </label>
                </div>
            </td>
        </tr>
    </table>
</form>
<div class="container mt-5">
    <div class="row justify-content-start gap-2 px-3">
        <a href="{% url 'firmas:lista_ordenes_responsable' %}"
            class="col-auto px-0" tabindex="-1"
        >
            <input type="button"
                class="btn btn-outline-secondary btn-lg text-wrap"
                value="Volver a lista de órdenes"
            >
        </a>
        <input type="submit" form="formulario"
            class="btn btn-primary btn-lg col-auto text-wrap"
            value="Firmar orden"
        >
    </div>
</div>
<pre></pre>
{{ block.super }}
{% endblock %}