<div class="table-responsive">
    <table class="table table-striped table-bordered align-middle">
        <thead id="table-head-curso" hx-preserve>
            <tr class="table-primary" id="table-row-curso" hx-preserve>
                <th scope="col" class="col-2 text-center" id="table-col-id-curso" hx-preserve>
                    <i class="fa-solid fa-hashtag" id="hashtag-curso" hx-preserve></i>
                </th>
                <th scope="col" class="col text-center" id="table-col-nombre-curso" hx-preserve>
                    Nombre
                </th>
                <th scope="col" class="col-3 text-center" id="table-col-acciones-curso" hx-preserve>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            {% widthratio pagina_curso.number|add:"-1" 1 pagina_curso.paginator.per_page as inicio_pagina %}
            {% for orden in pagina_curso %}
            <tr>
                <th scope="row" class="text-center">{{ inicio_pagina|add:forloop.counter }}</th>
                <td>
                    {{ orden.solicitud_servicio.nombre_solicitud }}
                </td>
                <td class="text-start">
                    <button type="button" class="btn btn-secondary m-1"
                        data-bs-toggle="modal" data-bs-target="#orden-curso{{ inicio_pagina|add:forloop.counter }}"
                    >
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                    {% if orden.firma_digital and orden.debe_firmar %}
                    <a type="button" class="btn btn-primary m-1"
                        href="{% url 'firmas:firma_orden_comitente' orden.solicitud_servicio.id_solicitud %}"
                    >
                        <i class="fa-solid fa-file-signature"></i>
                    </a>
                    {% endif %}
                    <div class="modal fade" id="orden-curso{{ inicio_pagina|add:forloop.counter }}"
                        aria-labelledby="titulo-orden-curso{{ inicio_pagina|add:forloop.counter }}"
                        aria-hidden="true" tabindex="-1" data-bs-backdrop="static"
                    >
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header clearfix">
                                    <h3 class="modal-title fs-5 float-start me-auto"
                                        id="titulo-orden-curso{{ inicio_pagina|add:forloop.counter }}"
                                    >Orden {{ orden.solicitud_servicio.id_solicitud }}</h3>
                                    <button type="button" class="btn float-end ms-auto"
                                        data-bs-dismiss="modal" aria-label="Close"
                                    >
                                        <i class="fa-solid fa-xmark fa-xl"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center m-0"><b>Nombre</b></p>
                                    <p>{{ orden.solicitud_servicio.nombre_solicitud }}</p>
                                    <p class="text-center m-0"><b>Descripción</b></p>
                                    <p>{{ orden.solicitud_servicio.descripcion_solicitud }}</p>
                                    <p class="text-center m-0"><b>Creación</b></p>
                                    <p id="tiempo-creacion-{{ orden.id_solicitud }}">
                                        {{ orden.tiempo_creacion|date:"c" }}
                                    </p>
                                    <p class="text-center m-0"><b>Comitentes</b></p>
                                    <ul class="list-group mb-3">
                                        {% for comitente_en_solicitud in orden.comitentes_en_solicitud %}
                                        {% if comitente_en_solicitud is not None %}
                                        <li class="list-group-item">{{ comitente_en_solicitud }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <p class="text-center m-0"><b>Responsables Técnicos</b></p>
                                    <ul class="list-group mb-3">
                                        {% for responsable_en_solicitud in orden.responsables_en_solicitud %}
                                        {% if responsable_en_solicitud is not None %}
                                        <li class="list-group-item">{{ responsable_en_solicitud }}</li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" value="Cerrar"
                                    >
                                    {% if orden.firma_digital and orden.debe_firmar %}
                                    <a class="btn btn-primary"
                                        href="{% url 'firmas:firma_orden_comitente' orden.solicitud_servicio.id_solicitud %}"
                                    >Firmar orden</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No se encuentra órdenes de servicio</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="clearfix">
    <div class="float-start ms-2">
        <p class="my-2">
            Órdenes {{ pagina_curso.start_index }}-{{ pagina_curso.end_index }}
            de {{ pagina_curso.paginator.count }}
        </p>
    </div>
    <div class="float-end me-2">
        <ul class="pagination justify-content-center mb-1">
            {% if pagina_curso.has_previous %}
                <li class="page-item">
                    <input type="button" class="page-link"
                        value="1"
                        hx-get="{% url 'solicitudes:lista_solicitudes_comitente' %}?pagina=1"
                        hx-include="#id_buscar_nombre_curso, #primera-pagina"
                        hx-vals='{"tipo": "curso", "por_pagina": {{ pagina_curso.paginator.per_page }}}'
                        hx-target="#resultados-curso"
                        hx-indicator="#indicador-curso"
                    >
                </li>
                {% if pagina_curso.number > 2 %}
                    {% if pagina_curso.number > 3 %}
                        <li class="page-item disabled">
                            <input type="button" class="page-link" tabindex="-1"
                                aria-disabled="true" value="{{ pagina_curso.paginator.ELLIPSIS }}"
                            >
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <input type="button" class="page-link"
                            value="{{ pagina_curso.previous_page_number }}"
                            hx-get="{% url 'solicitudes:lista_solicitudes_comitente' %}?pagina={{ pagina_curso.previous_page_number }}"
                            hx-include="#id_buscar_nombre_curso, #pagina-anterior"
                            hx-vals='{"tipo": "curso", "por_pagina": {{ pagina_curso.paginator.per_page }}}'
                            hx-target="#resultados-curso"
                            hx-indicator="#indicador-curso"
                        >
                    </li>
                {% endif %}
            {% endif %}
            <li class="page-item active">
                <input type="button" class="page-link"
                    aria-current="page" value="{{ pagina_curso.number }}"
                    hx-get="{% url 'solicitudes:lista_solicitudes_comitente' %}?pagina={{ pagina_curso.number }}"
                    hx-include="#id_buscar_nombre_curso, #pagina-actual"
                    hx-vals='{"tipo": "curso", "por_pagina": {{ pagina_curso.paginator.per_page }}}'
                    hx-target="#resultados-curso"
                    hx-indicator="#indicador-curso"
                >
            </li>
            {% if pagina_curso.has_next %}
                {% if pagina_curso.next_page_number < pagina_curso.paginator.num_pages %}
                    <li class="page-item">
                        <input type="button" class="page-link"
                            value="{{ pagina_curso.next_page_number }}"
                            hx-get="{% url 'solicitudes:lista_solicitudes_comitente' %}?pagina={{ pagina_curso.next_page_number }}"
                            hx-include="#id_buscar_nombre_curso, #pagina-siguiente"
                            hx-vals='{"tipo": "curso", "por_pagina": {{ pagina_curso.paginator.per_page }}}'
                            hx-target="#resultados-curso"
                            hx-indicator="#indicador-curso"
                        >
                    </li>
                    {% if pagina_curso.next_page_number|add:"1" < pagina_curso.paginator.num_pages %}
                        <li class="page-item disabled">
                            <input type="button" class="page-link" tabindex="-1"
                                aria-disabled="true" value="{{ pagina_curso.paginator.ELLIPSIS }}"
                            >
                        </li>
                    {% endif %}
                {% endif %}
                <li class="page-item">
                    <input type="button" class="page-link"
                        value="{{ pagina_curso.paginator.num_pages }}"
                        hx-get="{% url 'solicitudes:lista_solicitudes_comitente' %}?pagina={{ pagina_curso.paginator.num_pages }}"
                        hx-include="#id_buscar_nombre_curso, #ultima-pagina"
                        hx-vals='{"tipo": "curso", "por_pagina": {{ pagina_curso.paginator.per_page }}}'
                        hx-target="#resultados-curso"
                        hx-indicator="#indicador-curso"
                    >
                </li>
            {% endif %}
        </ul>
        <p>
            Página {{ pagina_curso.number }} de {{ pagina_curso.paginator.num_pages }}
        </p>
    </div>
</div>