{% extends "base_cuentas.html" %}

{% load cui %}

{% block titulo %}Aceptar Solicitud de Servicio como Responsable Técnico{% endblock %}

{% block contenido %}
<ol class="breadcrumb m-2">
    <li class="breadcrumb-item">
        <a href="{% url 'cuentas:perfil' %}">
            Perfiles
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'cuentas:responsable_tecnico' %}">
            Responsable Técnico
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'solicitudes:lista_solicitudes_responsable' %}">
            Solicitudes
        </a>
    </li>
    <li class="breadcrumb-item active">{{ responsable_solicitud.solicitud_servicio.id_solicitud }}</li>
    <li class="breadcrumb-item" aria-current="page">Aceptar</li>
</ol>
<h2 class="text-center">Aceptar Solicitud de Servicio como Responsable Técnico</h2>
<form method="post" id="formulario">
    {% csrf_token %}
    <div class="form-text text-center">¿Acepta ser parte de la siguiente solicitud de servicio?</div>
    <table class="mx-auto container">
        <tr class="row justify-content-start">
            <td class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control-plaintext"
                        id="nombre_solicitud" readonly
                        value="{{ responsable_solicitud.solicitud_servicio.nombre_solicitud }}"
                        size="{{ responsable_solicitud.solicitud_servicio.nombre_solicitud|length }}"
                    >
                    <label for="nombre_solicitud">Nombre</label>
                </div>
            </td>
        </tr>
        <tr class="row justify-content-start">
            <td class="col-auto">
                <div class="form-floating">
                    <textarea class="form-control-plaintext"
                        id="descripcion_solicitud" readonly
                    >{{ responsable_solicitud.solicitud_servicio.descripcion_solicitud }}</textarea>
                    <label for="descripcion_solicitud">Descripción</label>
                </div>
            </td>
        </tr>
        <tr class="row justify-content-start">
            <td class="col-auto">
                <div class="form-floating">
                    <input type="text" class="form-control-plaintext"
                        id="rol_solicitud" readonly
                        {% if responsable_solicitud.cuit_organizacion_responsable is None %}
                        value="Persona física"
                        {% else %}
                        value="{{ responsable_solicitud.puesto_organizacion_responsable }} - {{ responsable_solicitud.razon_social_responsable }}"
                        {% endif %}
                    >
                    <label for="rol_solicitud">Rol</label>
                </div>
            </td>
        </tr>
    </table>
</form>
<div class="container mt-5">
    <div class="row justify-content-start gap-2">
        <a href="{% url 'solicitudes:lista_solicitudes_responsable' %}"
            class="col-auto" tabindex="-1"
        >
            <input type="button"
                class="btn btn-outline-secondary btn-lg text-wrap"
                value="Volver a lista de solicitudes"
            >
        </a>
        <input type="submit" form="formulario"
            class="btn btn-success btn-lg col-auto"
            value="Aceptar"
        >
    </div>
</div>
{{ block.super }}
{% endblock %}
